[Unit]
Description=Switchboard web ui
After=network.target

[Service]
ExecStart=/usr/local/bin/switchboard-web-ui
Restart=on-failure


[Install]
WantedBy=multi-user.target
